# Core
pandas
numpy
scikit-learn
lightgbm

# Imbalanced learning (SMOTE)
imbalanced-learn

# Model explainability
shap

# Plotting and visualization
matplotlib
seaborn

# Notebook support
jupyterlab
notebook
ipykernel

# Optional: For saving and loading models
joblib

# Model training
xgboost
statsmodels